h1,
h2 {
	-webkit-animation-duration: 0.1s;
	-webkit-animation-name: fontfix;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0;
}

@-webkit-keyframes fontfix {
	from {
		opacity: 1;
	}
	to {
		opacity: 1;
	}
}

html,
body {
	font-family: Arial, sans-serif;
	background: #fff;
	margin: 0;
	padding: 0;
	border: 0;
	position: absolute;
	height: 100%;
	min-width: 100%;
	font-size: 13px;
	color: #404040;
	direction: ltr;
	-webkit-text-size-adjust: none;
}

input[type=submit] {
	font-family: Arial, sans-serif;
	font-size: 13px;
}

a,
a:hover,
a:visited {
	color: #427fed;
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 20px;
	color: #262626;
	margin: 0 0 15px;
	font-weight: normal;
}

h2 {
	font-size: 14px;
	color: #262626;
	margin: 0 0 15px;
	font-weight: bold;
}

input[type=text],
input[type=password] {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	display: inline-block;
	height: 36px;
	padding: 0 8px;
	margin: 0;
	background: #fff;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	font-size: 15px;
	color: #404040;
}

input[type=text]:hover,
input[type=password]:hover {
	border: 1px solid #b9b9b9;
	border-top: 1px solid #a0a0a0;
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

input[type=text]:focus,
input[type=password]:focus {
	outline: none;
	border: 1px solid #4d90fe;
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}

.hidden-label {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	/* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	height: 0px;
	width: 0px;
	overflow: hidden;
	visibility: hidden;
}

.error-msg {
	margin: .5em 0;
	display: block;
	color: #dd4b39;
	line-height: 17px;
}

.wrapper {
	position: relative;
	min-height: 100%;
}

.content {
	padding: 0 44px;
}

.main {
	padding-bottom: 100px;
}


/* For modern browsers */

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}


/* For IE 6/7 (trigger hasLayout) */

.clearfix {
	zoom: 1;
}

.google-header-bar {
	height: 71px;
	border-bottom: 1px solid #e5e5e5;
	overflow: hidden;
}

.header .logo {
	background-image: url(logo.png);
	background-size: 116px 38px;
	background-repeat: no-repeat;
	margin: 17px 0 0;
	float: left;
	height: 38px;
	width: 116px;
}

.header .logo-w {
	background-image: url(logo.png);
	background-size: 112px 36px;
	margin: 21px 0 0;
}

.google-header-bar.centered {
	border: 0;
	height: 108px;
}

.google-header-bar.centered .header .logo {
	float: none;
	margin: 40px auto 30px;
	display: block;
}

.google-footer-bar {
	position: absolute;
	bottom: 0;
	height: 35px;
	width: 100%;
	border-top: 1px solid #e5e5e5;
	overflow: hidden;
}

.footer {
	padding-top: 7px;
	font-size: .85em;
	white-space: nowrap;
	line-height: 0;
}

.footer ul {
	float: left;
	max-width: 80%;
	min-height: 16px;
	padding: 0;
}

.footer ul li {
	color: #737373;
	display: inline;
	padding: 0;
	padding-right: 1.5em;
}

.footer a {
	color: #737373;
}

.hidden {
	height: 0px;
	width: 0px;
	overflow: hidden;
	visibility: hidden;
	display: none !important;
}

.banner {
	text-align: center;
}

.card {
	background-color: #f7f7f7;
	padding: 20px 25px 30px;
	margin: 0 auto 25px;
	width: 304px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.card>*:first-child {
	margin-top: 0;
}

.rc-button,
.rc-button:visited {
	display: inline-block;
	min-width: 46px;
	text-align: center;
	color: #444;
	font-size: 14px;
	font-weight: 700;
	height: 36px;
	padding: 0 8px;
	line-height: 36px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-o-transition: all 0.218s;
	-moz-transition: all 0.218s;
	-webkit-transition: all 0.218s;
	transition: all 0.218s;
	border: 1px solid #dcdcdc;
	background-color: #f5f5f5;
	background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
	background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
	background-image: -ms-linear-gradient(top, #f5f5f5, #f1f1f1);
	background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
	background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
	-o-transition: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}

.card .rc-button {
	width: 100%;
	padding: 0;
}

.rc-button:hover {
	border: 1px solid #c6c6c6;
	color: #333;
	text-decoration: none;
	-o-transition: all 0.0s;
	-moz-transition: all 0.0s;
	-webkit-transition: all 0.0s;
	transition: all 0.0s;
	background-color: #f8f8f8;
	background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
	background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
	background-image: -ms-linear-gradient(top, #f8f8f8, #f1f1f1);
	background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
	background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.rc-button:active {
	background-color: #f6f6f6;
	background-image: -webkit-linear-gradient(top, #f6f6f6, #f1f1f1);
	background-image: -moz-linear-gradient(top, #f6f6f6, #f1f1f1);
	background-image: -ms-linear-gradient(top, #f6f6f6, #f1f1f1);
	background-image: -o-linear-gradient(top, #f6f6f6, #f1f1f1);
	background-image: linear-gradient(top, #f6f6f6, #f1f1f1);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.rc-button-submit,
.rc-button-submit:visited {
	border: 1px solid #3079ed;
	color: #fff;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	background-color: #4d90fe;
	background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
	background-image: -moz-linear-gradient(top, #4d90fe, #4787ed);
	background-image: -ms-linear-gradient(top, #4d90fe, #4787ed);
	background-image: -o-linear-gradient(top, #4d90fe, #4787ed);
	background-image: linear-gradient(top, #4d90fe, #4787ed);
}

.rc-button-submit:hover {
	border: 1px solid #2f5bb7;
	color: #fff;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	background-color: #357ae8;
	background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8);
	background-image: -moz-linear-gradient(top, #4d90fe, #357ae8);
	background-image: -ms-linear-gradient(top, #4d90fe, #357ae8);
	background-image: -o-linear-gradient(top, #4d90fe, #357ae8);
	background-image: linear-gradient(top, #4d90fe, #357ae8);
}

.rc-button-submit:active {
	background-color: #357ae8;
	background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8);
	background-image: -moz-linear-gradient(top, #4d90fe, #357ae8);
	background-image: -ms-linear-gradient(top, #4d90fe, #357ae8);
	background-image: -o-linear-gradient(top, #4d90fe, #357ae8);
	background-image: linear-gradient(top, #4d90fe, #357ae8);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 800px),
screen and (max-height: 800px) {
	.google-header-bar.centered {
		height: 83px;
	}
	.google-header-bar.centered .header .logo {
		margin: 25px auto 20px;
	}
	.card {
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: 580px) {
	html,
	body {
		font-size: 14px;
	}
	.google-header-bar.centered {
		height: 73px;
	}
	.google-header-bar.centered .header .logo {
		margin: 20px auto 15px;
	}
	.content {
		padding-left: 10px;
		padding-right: 10px;
	}
	.hidden-small {
		display: none;
	}
	.card {
		padding: 20px 15px 30px;
		width: 270px;
	}
	.footer ul li {
		padding-right: 1em;
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
(min--moz-device-pixel-ratio: 1.5),
(-o-min-device-pixel-ratio: 3 / 2),
(min-device-pixel-ratio: 1.5) {
	.header .logo {
		background-image: url(logo.png);
	}
	.header .logo-w {
		background-image: url(logo.png);
	}
}

.banner h1 {
	font-family: 'Open Sans', arial;
	-webkit-font-smoothing: antialiased;
	color: #555;
	font-size: 42px;
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 20px;
}

.banner h2 {
	font-family: 'Open Sans', arial;
	-webkit-font-smoothing: antialiased;
	color: #555;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 20px;
}

.signin-card {
	width: 274px;
	padding: 40px 40px;
}

.signin-card input[type=text],
.signin-card input[type=password],
.signin-card input[type=submit] {
	width: 100%;
	display: block;
	margin-bottom: 10px;
	z-index: 1;
	position: relative;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.signin-card #Email {
	direction: ltr;
	height: 44px;
	font-size: 16px;
}

.one-google p {
	margin: 0 0 10px;
	color: #555;
	font-size: 14px;
	text-align: center;
}

.one-google p.create-account {
	margin-bottom: 60px;
}

.one-google .logo-strip {
	background-repeat: no-repeat;
	display: block;
	margin: 10px auto;
	background-image: url(logostrip.png);
	background-size: 230px 17px;
	width: 230px;
	height: 17px;
}

@media only screen and (max-width: 800px),
screen and (max-height: 800px) {
	.banner h1 {
		font-size: 38px;
		margin-bottom: 15px;
	}
	.banner h2 {
		margin-bottom: 15px;
	}
	.one-google p.create-account {
		margin-bottom: 30px;
	}
	.signin-card #Email {
		margin-bottom: 0;
	}
	.signin-card #Email:hover,
	.signin-card #Email:focus {
		z-index: 3;
	}
}

@media only screen and (max-width: 580px) {
	.banner h1 {
		font-size: 22px;
		margin-bottom: 15px;
	}
	.signin-card {
		width: 260px;
		padding: 20px 20px;
		margin: 0 auto 20px;
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
(min--moz-device-pixel-ratio: 1.5),
(-o-min-device-pixel-ratio: 3 / 2),
(min-device-pixel-ratio: 1.5) {
	.one-google .logo-strip {
		background-image: url(logostrip.png);
	}
}

.form-panel {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	width: 100%;
}

.form-panel.first {
	z-index: 2;
}

.slide-out {
	display: block;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	-ms-transition-property: -ms-transform, opacity;
	-o-transition-property: -o-transform, opacity;
	transition-property: transform, opacity;
	-webkit-transition-duration: 0.1s;
	-moz-transition-duration: 0.1s;
	-ms-transition-duration: 0.1s;
	-o-transition-duration: 0.1s;
	transition-duration: 0.1s;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	-moz-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	-ms-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	-o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.slide-out {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.error-msg {
	-webkit-transition: max-height 0.3s, opacity 0.3s 0s steps(10, end);
	-moz-transition: max-height 0.3s, opacity 0.3s 0s steps(10, end);
	-ms-transition: max-height 0.3s, opacity 0.3s 0s steps(10, end);
	-o-transition: max-height 0.3s, opacity 0.3s 0s steps(10, end);
	transition: max-height 0.3s, opacity 0.3s 0s steps(10, end);
	height: auto;
	max-height: 0;
	opacity: 0;
}

#link-signup {
	text-align: center;
	font-size: 14px;
}

#link-signin-different {
	display: none;
	text-align: center;
	font-size: 14px;
}

.signin-card #Email {
	margin-top: 16px;
}

.need-help {
	float: right;
	text-align: right;
}

.form-panel {
	width: 274px;
}

#gaia_firstform {
	z-index: 2;
}

.signin-card {
	position: relative;
	overflow: hidden;
}

.circle-mask {
	display: block;
	height: 96px;
	width: 96px;
	overflow: hidden;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	z-index: 100;
	margin-bottom: 10px;
}

.main {
	overflow: hidden;
}

.card-mask-wrap {
	position: relative;
	width: 360px;
	margin: 0 auto;
	z-index: 1;
}

.card {
	margin-bottom: 0;
}

.one-google {
	padding-top: 27px;
}

.input-wrapper {
	position: relative;
}

.google-footer-bar {
	z-index: 2;
}

@media only screen and (max-width: 580px) {
	.circle-mask {
		height: 72px;
		width: 72px;
		background-size: 72px;
	}
	.form-panel {
		width: 256px;
	}
	.card-mask-wrap {
		width: 300px;
	}
	.signin-card {
		width: 256px;
	}
	.one-google {
		padding-top: 22px;
	}
}